

/* Archivo: ContactForm.css */

.contact-form-container {
    max-width: 500px; /* Limitar el ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    border: 2px solid #000; /* Borde negro alrededor del formulario */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo similar al sidebar */
}

.contact-form-container h2 {
    margin-bottom: 20px;
    text-align: center; /* Centrar el título */
    font-size: 24px; /* Tamaño de fuente más grande para el título */
}

.contact-form-container label {
    display: block; /* Mostrar las etiquetas como bloques */
    margin-bottom: 10px; /* Espacio entre la etiqueta y el campo */
    font-size: 16px;
    font-weight: bold; /* Hacer las etiquetas más destacadas */
}

.contact-form-container input {
    width: 100%; /* Hacer que los campos de entrada ocupen todo el ancho */
    padding: 10px; /* Espacio dentro de los campos de entrada */
    border: 2px solid #000; /* Borde negro para los campos de entrada */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el borde y el relleno en el tamaño total del campo */
    font-size: 16px; /* Tamaño de fuente consistente */
    margin-top: 5px; /* Espacio entre la etiqueta y el campo de entrada */
    background-color: #fff; /* Color de fondo blanco para los campos de entrada */
}

.contact-form-container input:focus {
    border-color: #007bff; /* Cambiar el color del borde al enfocar */
    outline: none; /* Eliminar el contorno predeterminado del navegador */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agregar sombra de enfoque */
}

.contact-form-container button {
    display: block; /* Hacer que el botón ocupe todo el ancho */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #000; /* Borde negro para el botón */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 16px; /* Tamaño de fuente consistente */
    cursor: pointer; /* Mostrar cursor de puntero al pasar sobre el botón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave para el hover */
}

.contact-form-container button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
    border-color: #000; /* Mantener el borde negro al pasar el ratón */
}
